/* Default Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  background-image: linear-gradient(
      rgba(14, 135, 156, 0.602),
      rgba(22, 138, 167, 0.431)
    ),
    url("../images/developers.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Main Styles */
main{
  color: #fff;
}
#title-desc {
  width: 100%;
  height: 130px;
  text-align: center;
  padding: 2em 0;
  color: #fff;
}

#description {
  font-style: italic;
  margin-top: 10px;
  font-size: 18px;
  color: #fff;
}

/* Form style */
#survey-form{
  background-color:#253031b2;
  width: 750px;
  margin: 0 auto 100px;
  padding: 40px;
  border-radius: 5px;
}

form input, select {
  outline: 1;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  display: block;
  border-radius: 8px;
}

#name, #email, #number, #dropdown, #favorite, #comment, #submit{
  display: block;
  width: 100%;
}

.inputs{
  margin-top: 20px;
}


